.command-palette {
  display: block;
}

.command-palette ul {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  display: block;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: -webkit-calc(100% - 54px);
}

.command-palette input {
  width: 100%;
}

.command-palette input,
.command-palette li {
  display: block;
  overflow: hidden;
}
